{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta Content-type: application/json; charset=utf-8 />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href='{% static "css/global.css" %}'>
		<link rel="stylesheet" type="text/css" href='{% static "css/font-awesome.min.css" %}'>
		<!-- <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'> -->
		<link rel="shortcut icon" type="image/png" href='{% static "images/camera-icon.png" %}'/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>

	<body class="base">

		
		{% include "includes/header.html" %}
		<div class="menu">
				<a class="mobile" href="#">Menu <i class="fa fa-bars" aria-hidden="true"></i></a>
		{% include "includes/sidebar.html" %}
		</div>
		

		<!-- pages content begins here -->
		<div class="content">
			<h3>Breadcrumb sada a adadsa dad ada da</h3>
			<p>Breadcrumb/Pages</p>

			{% block content %}
			
			{% endblock %}
		</div>

		{% include "includes/footer.html" %}
	</body>

	<script type="text/javascript" src='{% static "js/jquery-3.1.1.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/general.js" %}'></script>
</html>
