{% block homecontent %}
	
		<div class="box">
			<div class="box-top">News</div>
			<div class="box-panel">
				Some news
			</div>
		</div>
		<div class="box">
			<div class="box-top">News</div>
			<div class="box-panel">
				Some news
			</div>
		</div>
		<div class="box">
			<div class="box-top">News</div>
			<div class="box-panel">
				Some news
			</div>
		</div>
		<div class="box">
			<div class="box-top">News</div>
			<div class="box-panel">
				Some news
			</div>
		</div>
		
		
		

	
{% endblock %}